.top-header {
  display: flex;
  width: 1252px;
  height: 115px;
  border-bottom: 1px solid #2c2c2c;
}

.gnb-top {
  width: 1252px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 11px 0 35px 0;
}

.gnb-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
}

.gnb-menu img {
  width: 20px;
  height: 20px;
  margin-right: 18px;
  opacity: 0.9;
}
.gnb-menu a:last-child {
  opacity: 0.4;
}

.gnb-menu a:active {
  opacity: 0.6;
}

.gnb-search input {
  width: 149px;
  height: 22px;
  border-radius: 20px;
  border: none;
  padding-left: 26px;
  font-size: 13px;
}

.gnb-search img {
  position: absolute;
  width: 13px;
  margin: 5px 8px;
}

.gnb-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 34px;
}
.gnb-right a {
  color: white;
  text-decoration: none;
}

.upgrade {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 114px;
  height: 24px;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  text-align: center;
  font-size: 11px;
  letter-spacing: 2px;
  color: #f3f3f3;
  transition-duration: 0.1s;
}

.upgrade:hover {
  transform: scale(1.1);
  font-weight: 600;
  transition-duration: 0.1s;
}

.upgrade:active {
  transform: scale(1);
  border: 1px solid rgba(244, 244, 244, 0.6);
  color: rgba(244, 244, 244, 0.6);
}

.profile a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin: 0 20px;
  letter-spacing: 1px;
}
.profile img {
  width: 22px;
  height: 22px;
  margin-right: 8px;
}

.profile a:hover span {
  margin-top: 5px;
  padding-bottom: 4px;
  border-bottom: 1px solid white;
}

.profile a:active {
  opacity: 0.6;
}

.menu-dwn img {
  width: 15px;
  padding-top: 0.3em;
  height: auto;
}

.menu-dwn:active {
  opacity: 0.6;
}

.gnb-title {
  margin: 30px 0 20px 32px;
  font-size: 30px;
  font-weight: 700;
}
