.lnb {
  display: fixed;
  width: calc(100%-200px);
  height: 100%;
  background-color: #191919;
  z-index: 3;
}
.lnb_column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lnb-topMenu img {
  margin: 17px 0 26px 25px;
  width: 24px;
  height: auto;
}

.lnb-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.lnb-menu {
  margin-bottom: 16px;
}

.menu-title {
  margin: 15px 0 10px 21px;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}

.lnb-menu input {
  display: none;
}

.lnb-menu label {
  display: table-cell;
  vertical-align: middle;
  width: 200px;
  height: 26px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 600;
  text-align: left;
  padding-left: 22px;
}

.lnb-menu img {
  width: 28px;
  vertical-align: middle;
  margin-right: 16px;
  opacity: 0.6;
}

.lnb-menu input + label:hover,
#main-tab1:hover + label > img,
#main-tab2:hover + label > img {
  cursor: pointer;
  color: white;
  opacity: 1;
}

.lnb-menu input:checked + label {
  color: white;
  padding-left: 18px;
  border-left: 4px solid #26d960;
}

#main-tab1:checked + label > img {
  background-image: url(../images/home_pre.png);
  background-size: 28px;
  opacity: 1;
}
#main-tab2:checked + label > img {
  background-image: url(../images/browse_pre.png);
  background-size: 28px;
  opacity: 1;
}

.col-2 {
  border-top: 1px solid #2c2c2c;
}

.col-2 img {
  width: 24px;
  margin: 0 10px 0 22px;
}

.col-2 a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
  height: 62px;
  text-decoration: none;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  opacity: 0.6;
}

.col-2 a:hover {
  color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}

.col-2 a:active {
  opacity: 0.6;
}
